.names {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

/* Tooltip CSS */

.d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family: "avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgb(175,238,238);
    color: rgb(0, 0, 0);
    border-radius: 1px;
    pointer-events: none;
}

/* Dont Need triangle below since tooltip position is set

Set opacity to 100 to exclude it

Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    pointer-events: none;
    opacity: 100;
}

/* Northward tooltips */

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */

.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */

.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */

.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

/*    text{
        pointer-events:none;
      }*/

.details {
    color: white;
}


#chart-area svg {
  float: left;
}



/* Chart CSS */
h1 {
    text-align: center;
    color: #3030ff;
  }
  
  .attribution {
    text-align: center;
  }
  
  .chart {
    overflow: hidden;
    margin: 0 auto;
    display: block;
  }
  
  .axis-x path {
    display: none;
  }
  
  .line {
    fill: none;
    stroke-width: 1.5px;
  }
  
  /*Add .axis path and .axis line commans as described in the book */
  .axis text {
    font: Times;
    font-size: 12px;
    font-weight: bold;
  }
  
  /* This class applies only to the text of the x axis */
  .x text {
    transform: rotate(-60deg);
  }
  
  .grid line {
    stroke-width: 0.5;
    stroke: grey;
  }
  
  .grid path {
    stroke: transparent;
    stroke-width: 0;
  }
  
  text {
    cursor: default;
    font-size: 12px;
    font-family: sans-serif;
  }

  