
/* Import the CSS for the GeoMap */
@import 'map.css';
/* Import the CSS for the Line Chart */
@import 'graph.css';

/* Define the CSS for the rest of the document (header, layout, ect) */
h1 {
  text-align: center;
}

.details {
  color: white;
}

#chart-area {
  width: 100%;
}

#chart-area svg {
  float: left;
}

footer {
  width: 100%;
  overflow: hidden;
  float: left;
}
